body {
	font-family: 'Montserrat', sans-serif;
	background-color: #7F1418;
	/*background-image: url("bg.png");
	background-size: cover;
	background-position: center center; 
	https://i.imgur.com/dPEV7Op.png
	https://i.imgur.com/sS0TggL.png */
	/* #C19547 2275x1794*/
}

#one {
	opacity: 0;
	animation: transitionIn 2s 1s forwards;
}

@keyframes transitionIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

#one {
	display: grid;
	position: absolute;
	top: 0;
	height: 100%;
	grid-template-columns: 60% 40%;
}

#painting {
	grid-column-start: 1;
}

#quiz {
	grid-column-start: 2;
}